

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1> Rails Tutorail</h1>
			<% @posts.each do |posts|  %>
			<blockquote>
				<h3>
					<%= posts.title %>
				</h3> 
				<small>
					written by <%= posts.author %>
				</small>

				<p>
					<%=  %>
					<%= link_to "Learn More",posts.content, class: "embedly-card" %>
				</p>
			</blockquote>
			<% end %>
		</div>
	</div>
</div>

<!-- <blockquote class="embedly-card">
  <h4><a href="http://embed.ly/docs">Documentation</a></h4>
  <p>
    Embedly's Documentation is the best.
  </p>
</blockquote>
 -->
