
<%= render "layouts/navbar" %>
<br>
<%= link_to("Facebook Login", Settings.domain + user_omniauth_authorize_path(:facebook)) %>

<%= link_to("Facebook Login", "#") %>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>

<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>





<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1612237352363217',
      xfbml      : true,
      version    : 'v2.4'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
